* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(225, 100%, 94%);
    font-family: "Red Hat Display", sans-serif;

}
.container {
    left: 35%;
    top: 120px;
    position: relative;
    height: 600px;
    width: 420px;
    background-color: white;
    border-radius: 20px;
}

.photo {
    position: absolute;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.title {
    position: absolute;
    top: 40%;
    left: 22%;
}

.info {
    position: absolute;
    top: 48%;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.455);
    left: 16%;
}

.pricecard {
    position: absolute;
    left: 12.5%;
    top: 63%;
    width: fit-content;
    background-color:  hsla(225, 100%, 94%, 0.538);
    height: 80px;
    padding: 10px 160px;
    border-radius: 10px;
}

.photo2 {
    position: absolute;
    height: 45px;
    left: 15px;
    top: 20%;
}

.plan {
    position: absolute;
    left: 80px;
    top: 20px;
    font-weight: 600;
}

.price {
    position: absolute;
    top: 40px;
    left: 80px;
    color: rgba(0, 0, 0, 0.4);
}

.change {
    position: absolute;
    right: 20px;
    top: 40%;
    color:  hsl(268, 77%, 38%);
    transition: all 0.4s;
}

.change:hover {
    text-decoration: none;
    color: hsla(268, 38%, 47%, 0.674);

}

.button1 {
    position: absolute;
    top: 100px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    height: 45px;
    width: 100%;
    text-align: center;
    left: 0%;
    padding-top: 13px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 10px 20px 0px rgba(107, 39, 208, 0.243);
    transition: all 0.4s;
}

.button1:hover {
    background-color: hsla(243, 59%, 49%, 0.703);
    box-shadow: 0px 15px 20px 0px rgba(107, 39, 208, 0.166);
}

.button2 {
    position: absolute;
    color: rgba(128, 128, 128, 0.759);
    text-decoration: none;
    top: 170px;
    left: 37%;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.4s;
}

.button2:hover {
    color: black;
}